html, body {
    margin: 0;
    padding: 0;
    display: flex;
  }
  canvas {
    display: block;
  }

  /* Estilo para o campo de entrada */
.input-field {
  text-align: center;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #2A701D;
  border-radius: 5px;
  outline: none;
}

/* Estilo para o botão */
.save-button{
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #2A701D;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.restart-button{
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #2A701D;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

/* Estilo para o botão quando hover */
.save-button:hover  {
  background-color: #1f5e0d;
}

.container, .restart-button {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  text-align: center;
  

}